<p-menubar [model]="items" class="shadow-lg mb-3">
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="item.route; else noRoute">
      <a
        [routerLink]="item.route"
        class="p-menuitem-link text-decoration-none d-flex align-items-center gap-2 text-dark px-3 py-2"
      >
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #noRoute>
      <div
        class="p-menuitem-link text-decoration-none d-flex align-items-center gap-2 px-3 py-2"
      >
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <span *ngIf="item.items" class="pi pi-fw"></span>
      </div>
    </ng-template>
  </ng-template>
</p-menubar>

