<div class="container-fluid mt-3">
    <div class="card">
      <div class="card-body">
          <div class="border rounded mt-2 mb-2" style="height: 20rem;">
            <h6 class="text-center p-1 m-0" style="height: 1.5rem;">Módulos Medidas Finales</h6>
                <p-table 
                [value]="modulosMedidasFinales"
                [scrollHeight]="'17.5rem'" 
                [tableStyle]="{ 'min-width': '20rem', 'padding': '0rem','width':'100%' }" 
                class="table table-sm table-bordered table-hover m-0 p-0 "
                [scrollable]="true"
                selectionMode="single"
                [(selection)]="selectedModulo"
                dataKey="item">
            
                <ng-template pTemplate="header">
                    <tr>
                        <th>Item</th>
                        <th>Descripción</th>
                        <th>A(Cms)</th>
                        <th>H(Cms)</th>
                        <th>Cant</th>
                        <th>Familia</th>
                    </tr>
                </ng-template>
            
                <ng-template pTemplate="body" let-modulo>
                    <tr [pSelectableRow]="modulo">
                        <td>{{ modulo.item }}</td>
                        <td>{{ modulo.descripcion }}</td>
                        <td>{{ modulo.ancho }}</td>
                        <td>{{ modulo.altura }}</td>
                        <td>{{ modulo.cant }}</td>
                        <td>{{ modulo.familia }}</td>
                    </tr>
                </ng-template>
            
            </p-table>
            
            </div>
      
          
      
      </div>
    </div>
    <div class="card mt-3">
        <div class="rounded mt-2 mb-2" style="height: 15rem;">
          <h6 class="text-center p-1 m-0" style="height: 1.5rem;">Medidas de corte Producción</h6>
          <p-table 
            [value]="medidasCorteProduccion"
            [scrollHeight]="'13.5rem'" 
            [tableStyle]="{ 'min-width': '20rem', 'padding': '0rem','width':'100%' }" 
            class="table table-sm table-bordered table-hover m-0 p-0 "
            [scrollable]="true"
            selectionMode="single"
            [(selection)]="selectedMedidas"
            dataKey="itemModulo">
      
            
            <ng-template pTemplate="header">
              <tr>
                <th>Módulo</th>
                <th>Descripción</th>
                <th>A(Cms)</th>
                <th>H(Cms)</th>
                <th>Cant</th>
                <th>Und</th>
                <th>Producciónt</th>
                <th>Cod Inv</th>
              </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-modulo>
                <tr [pSelectableRow]="modulo">
                <td>{{ modulo.itemModulo }}</td>
                <td>{{ modulo.descripcion }}</td>
                <td>{{ modulo.ancho }}</td>
                <td>{{ modulo.altura }}</td>
                <td>{{ modulo.cantidad }}</td>
                <td>{{ modulo.unidaddMedida }}</td>
                <td>{{ modulo.areaProduccion }}</td>
                <td>{{ modulo.idInventario }}</td>
              </tr>
            </ng-template>
    
          </p-table>
         
        </div>
      </div>
  </div>
  