/* Estilo para el Sidebar */
.modern-sidebar {
    background-color: #2c3e50; /* Fondo oscuro para un look moderno */
    color: white; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 250px; /* Ancho personalizado */
  }
  
  /* Estilo del encabezado */
  .modern-sidebar .p-sidebar-header {
    border-bottom: 1px solid #34495e; /* Línea divisoria */
    padding-bottom: 10px;
  }
  
  
  /* Estilo para las opciones del sidebar */
  .option-item button {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .option-item button:hover {
    background-color: #2980b9; /* Efecto hover para las opciones */
    color: white;
  }
  
  .option-item i {
    margin-right: 10px; /* Espaciado entre el icono y el texto */
  }
  


  
  /* Ajustes para la tipografía */
  h6, .option-item button {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Navbar Moderno */
.modern-navbar {
  background: #083557;  /* Color azul profesional */
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

/* Sidebar Moderno */
.modern-sidebar {
  width: 280px !important;
  background: #f8f9fa;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  background: #e9ecef;
  border-bottom: 1px solid #dee2e6;
}

.option-item button {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  color: #333;
  width: 100%;
  transition: background 0.3s ease;
}

.option-item button:hover {
  background: #083557;
  color: white;
}

/* Contenedor del contenido dinámico */
.content-container {
  padding: 0.5rem 1rem 0 1rem ;
}
