<div class="container-fluid p-0">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg shadow-sm modern-navbar">
    <div class="container-fluid">
      <!-- Botón para abrir el Sidebar -->
      <button class="btn btn-outline-light me-3 shadow-sm" (click)="toggleSidebar()">
        <i class="pi pi-bars"></i> {{ currentRoute ? 'Menú - ' + currentRoute : 'Menú' }}
      </button>


      <!-- Título del Dashboard -->
      <span class="navbar-brand text-light fs-4 fw-bold">Orden de Trabajo</span>

      <!-- Botón para ir al Menú ISID alineado a la derecha -->
      <button class="btn btn-outline-light shadow-sm ms-auto" (click)="goToMenuIsid()">
        <i class="pi pi-external-link"></i> Menú ISID
      </button>
    </div>
  </nav>

  <!-- Contenedor principal que ajusta el ancho -->
  <div class="main-container" [ngClass]="{ 'sidebar-visible': sidebarVisible1 }">

    <!-- Sidebar -->
    <p-sidebar 
      [(visible)]="sidebarVisible1" 
      position="left" 
      [showCloseIcon]="false"
      [modal]="false"
      class="modern-sidebar">

      <ul class="list-unstyled px-2">
        <li *ngFor="let option of options" class="option-item">
          <button class="btn btn-link text-start w-100 fw-semibold border p-3 mt-1 shadow-sm" 
            (click)="selectOption(option)">
            <i class="pi pi-angle-right me-2"></i> {{ option }}
          </button>
        </li>
      </ul>
    </p-sidebar>

    <!-- Contenido dinámico -->
    <div class="content-container"
      [ngClass]="{ 'content-expanded': !sidebarVisible1, 'content-collapsed': sidebarVisible1 }">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>