/* Sidebar Moderno */
.modern-sidebar {
  width: 13rem !important;
  /* Reducir el ancho */
  background: #f8f9fa;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  /* Bordes más sutiles */
}

/* Encabezado del Sidebar */
.sidebar-header {
  background: #e9ecef;
  border-bottom: 1px solid #dee2e6;
  padding: 4px 6px;
  /* Espaciado más compacto */
  font-size: 14px;
  /* Reducir tamaño de texto */
}

/* Iconos en las opciones del Sidebar */
.option-item i {
  margin-right: 0.5rem; /* Espaciado más compacto */
  font-size: 0.6rem; /* Ajustar tamaño de icono */
}


/* Navbar Moderno */
.modern-navbar {
  background: radial-gradient(circle, #1d5ba1 30%, #1c355e 70%);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 0;
  font-size: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Mayor prioridad */
}

/* 🔹 Sidebar */
.modern-sidebar {
  width: 220px;
  background: #f8f9fa;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  height: calc(100vh - 3rem);
  /* Restar la altura del navbar */
  position: fixed;
  top: 3rem;
  /* Ajustar para que salga debajo del navbar */
  left: 0;
  transform: translateX(-300px);
  /* Inicialmente oculto */
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  /* Asegura que esté por encima del contenido */
}

.sidebar-header {
  background: #e9ecef;
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

.option-item button {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  width: 100%;
  transition: background 0.3s ease;
}

.option-item button:hover {
  background: #084675;
  color: white;
}

.content-container {
  flex-grow: 1;
  padding: 0.5rem;
  overflow-y: auto;
  margin-top: 3rem;
  /* Ajustar para no sobreponerse al navbar */
  transition: transform 0.3s ease-in-out;
}

.content-collapsed {
  margin-left: 16.5rem;
  /* Ajustar el contenido al ancho del sidebar */
}

.content-expanded {
  margin-left: 0;
}

/* Ajuste para el p-sidebar */
.p-sidebar-content {
  pointer-events: auto;
  /* Permite la interacción */
}

 :host ::ng-deep .p-sidebar-left{
  top: 0;
  left: 0;
  height: 100%;
  width: 17rem;
}

/* 🔹 Cuando el sidebar está abierto */
.sidebar-visible .modern-sidebar {
  transform: translateX(0);
  /* Mostrar el sidebar */
}