<ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active btn-sm" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">
            Prog x Proceso
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link disabled btn-sm" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">
            Liquidación MO
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link btn-sm" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">
            Estadística x Mod
        </button>
    </li>
</ul>

<div class="tab-content shadow rounded bg-white" id="myTabContent">
    <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid form-control-sm">
            <div class="row">
                <!-- 🔹 Contenedor Principal -->
                <div class="col-lg-5 col-md-6 col-sm-12 p-2">
                    <div class="row g-3">
                        <!-- 🔹 Primera fila: Dropdown ocupa toda la anchura -->
                        <div class="col-12 d-flex align-items-center gap-2">
                            <label for="obra" class="fw-semibold">Proceso</label>
                            <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
                                [filter]="true" filterBy="name" [showClear]="true" 
                                placeholder="Señor usuario por favor seleccione el Proceso a consultar"
                                class="w-100">
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="d-flex align-items-center">
                                        <div>{{ selectedOption.name }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-country pTemplate="item">
                                    <div class="d-flex align-items-center">
                                        <span>{{ country.name }}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                     
        
                        <!-- 🔹 Segunda fila: Input + Botón en línea -->
                        <div class="col-12 d-flex align-items-center gap-4">
                            <label for="obra" class="fw-semibold">Obra</label>
                            <p-floatLabel class="flex-grow-1">
                                <input pInputText id="obra" [(ngModel)]="value" class="w-100 form-control-sm" />
                            </p-floatLabel>
                        </div>
        
        
                       <!-- 🔹 Cuarta fila: Campos de entrada y botón -->
                       <div class="col-12 d-flex align-items-center gap-2">
                        <div class="flex-grow-1">
                            <p-floatLabel>
                                <input pInputText id="fecha1" [(ngModel)]="fecha1" class="w-100 form-control-sm" [disabled]="camposDeshabilitados" />
                              </p-floatLabel>
                        </div>
                        <div class="flex-grow-1">
                            <p-floatLabel>
                                <input pInputText id="fecha2" [(ngModel)]="fecha2" class="w-100 form-control-sm" [disabled]="camposDeshabilitados" />
                              </p-floatLabel>
                        </div>

                    </div>

                    <div class="col-12">
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex align-items-center gap-2">
                                <label for="ok" class="fw-semibold">OK</label>
                                <p-triStateCheckbox [(ngModel)]="value" inputId="ok" />
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <label for="proceso" class="fw-semibold">En Proceso</label>
                                <p-triStateCheckbox [(ngModel)]="value" inputId="proceso" />
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <label for="final" class="fw-semibold">F.Final</label>
                                <p-triStateCheckbox [(ngModel)]="value" inputId="final" />
                            </div>
                            <p-button label="Consultar" [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger" (click)="consultar()"></p-button>
                            <p-button [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger">
                                <i class="bi bi-printer-fill text-dark"></i>
                            </p-button>
                        </div>
                    </div>
                    </div>
                </div>
        
                <!-- 🔹 Sección de Observaciones -->
                <div class="col-lg-7 col-md-6 col-sm-12 p-2">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="container">
                                <p-floatLabel>
                                    <textarea id="ObsAdi" rows="7" pInputTextarea class="form-control-sm w-100" [disabled]="textAreaDeshabilitados"></textarea>
                                    <label for="ObsAdilbl">Observación adicional</label>
                                </p-floatLabel>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 d-flex flex-wrap align-items-center gap-2">
                            <p-button [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger" [disabled]="botonesDeshabilitados" (click)="habilitarObservacionAdicional()">
                                <i class="bi bi-file-earmark-text-fill"></i>
                            </p-button>
                            <p-button [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger" [disabled]="botonesDeshabilitados" (click)="abrirModalObservacion()">
                                <i class="bi bi-binoculars-fill"></i>
                            </p-button>
                            <p-button label="OK" [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger" [disabled]="botonesDeshabilitados" (onClick)="onTerminarProceso()"></p-button>
                            <p-button label="Reprogramar Procesos" [rounded]="true" [text]="true" class="custom-btn btn-danger"  [disabled]="botonesDeshabilitados" (click)="abrirModalReprogramar()"
                                [raised]="true"></p-button>
                        </div>
                    </div>
                </div>
        
                <!-- 🔹 Tercera sección: La tabla ocupa todo el resto del espacio -->
                <div class="row">
                    <div class="col-12 border mt-3" style="height: 30rem;">
                        <div class="table-responsive table-sm mb-3 border rounded" style="height: 50vh; padding-top:0rem; margin-top:0rem; overflow-y: auto;">
                            <p-table 
                            [value]="procesos"
                            styleClass="p-datatable-gridlines" 
                            [tableStyle]="{ 'min-width': '50rem','height':'15rem', 'padding':'0rem', 'width':'100%' }"
                            [scrollable]="true"
                            selectionMode="single"
                            [(selection)]="selectedItem"
                            (onRowSelect)="onRowSelect()"
                            dataKey="idProgramacion">
                            
                            <ng-template pTemplate="header">
                              <tr>
                                <th pResizableColumn>Tur</th>
                                <th pResizableColumn>OT</th>
                                <th pResizableColumn>P</th>
                                <th pResizableColumn>Destino - OBRA</th>
                                <th pResizableColumn>F. Inicio</th>
                                <th pResizableColumn>F. Final</th>
                                <th pResizableColumn>Ok</th>
                                <th pResizableColumn>Operario</th>
                                <th pResizableColumn>T. Pedido</th>
                                <th pResizableColumn>Días</th>
                                <th pResizableColumn>Procesar</th>
                                <th pResizableColumn>Cant</th>
                                <th pResizableColumn>Responsable</th>
                                <th pResizableColumn>Imp</th>
                                <th pResizableColumn>Impresa Por</th>
                                <th pResizableColumn>Fecha Imp.</th>
                                <th pResizableColumn>Terminada por</th>
                                <th pResizableColumn>Fecha Ok</th>
                                <th pResizableColumn>Ini</th>
                                <th pResizableColumn>F.R.Ini.</th>
                              </tr>
                            </ng-template>
                          
                            <ng-template pTemplate="body" let-modulo>
                                <tr [pSelectableRow]="modulo" [ngClass]="{'fila-total': modulo.procesar?.startsWith('TOTAL')}" (dblclick)="seleccionarOTyPedido(modulo)">
                                  <td>{{ modulo.turno }}</td>
                                  <td [ngStyle]="{'background-color': modulo.prioritario ? 'yellow' : 'transparent'}">{{ modulo.ot }}</td>
                                  <td>{{ modulo.pedido }}</td>
                                  <td>{{ modulo.nombreObra }}</td>
                                  <td [ngStyle]="{ 'background-color': getBackgroundColor(modulo, 'inicio') }">
                                    {{ modulo.fechaInicioProceso }}
                                  </td>
                                  
                                  <td [ngStyle]="{ 'background-color': getBackgroundColor(modulo, 'final') }">
                                    {{ modulo.fechaFinalProceso }}
                                  </td>                          
                                  <td>{{ modulo.procesar?.startsWith('TOTAL') ? '' : (modulo.terminada ? 'Sí' : 'No') }}</td>
                                  <td>{{ modulo.operario }}</td>
                                  <td>{{ modulo.descripcionTipoPedido }}</td>
                                  <td>{{ modulo.dias }}</td>
                                  <td>{{ modulo.procesar }}</td>
                                  <td>{{ modulo.cantidad }}</td>
                                  <td>{{ modulo.responsable }}</td>
                                  <td>{{ modulo.procesar?.startsWith('TOTAL') ? '' : (modulo.impresa ? 'Sí' : 'No') }}</td>
                                  <td>{{ modulo.impresaPor }}</td>
                                  <td>{{ modulo.fechaImpresionReporte }}</td>
                                  <td>{{ modulo.terminadaPor }}</td>
                                  <td>{{ modulo.fechaRealFinalProceso }}</td>
                                  <td>{{ modulo.procesar?.startsWith('TOTAL') ? '' : (modulo.iniciado ? 'Sí' : 'No') }}</td>
                                  <td>{{ modulo.fechaRealInicio }}</td>
                                </tr>
                              </ng-template>
                              
                          
                          </p-table>
                          
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container-fluid p-3 form-control-sm">
            <div class="row align-items-center border p-3">
                <!-- Primera columna (más grande) -->
                <div class="col-md-4 col-12">
                    <div class="col-12 d-flex align-items-center gap-2">
                        <label for="obra" class="fw-semibold">T.Modulo</label>
                        <p-dropdown [options]="countries2" [(ngModel)]="selectedCountry2" optionLabel="name"
                            [filter]="true" filterBy="name" [showClear]="true" 
                            placeholder="Tipo de modulo"
                            class="w-100">
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="d-flex align-items-center">
                                    <div>{{ selectedOption.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="d-flex align-items-center">
                                    <span>{{ country.name }}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
    
               <!-- Segunda y tercera columna (mismo tamaño, juntas igual que la primera) -->
<div class="col-md-4 col-8 d-flex align-items-center gap-2">
    <label for="obra" class="text-nowrap">Pdo Entre</label>
    <input type="date" id="fecha1" [(ngModel)]="fechaInicio" class="form-control form-control-sm w-100" />
</div>

                <div class="col-md-2 col-6">
                    <input type="date" id="fecha1" [(ngModel)]="fechaFin" class="form-control form-control-sm w-100" />
                </div>
                <!-- Quinta columna (más pequeña, botón con icono) -->
                <div class="col-md-2 col-6 d-flex justify-content-center gap-2">
                    <p-button label="Consultar" [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger" (click)="consultarEstadisticas()"></p-button>
                            <p-button [rounded]="true" [text]="true" [raised]="true" class="custom-btn btn-danger">
                                <i class="bi bi-printer-fill text-dark"></i>
                            </p-button>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header fw-bold">
                    <h6 class="text-center">Estadística por Módulo</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Primera mitad (Ocupa la mitad de la pantalla) -->
                        <div class="col-md-6 border" style="height: 29rem;">
                            <div class="table-responsive table-sm" style="height: 29rem; overflow-y: auto;">
                                <p-table 
                                styleClass="p-datatable-gridlines"
                                [tableStyle]="{ 'width': '100%' }"
                                [scrollable]="true"
                                [value]="estadisticaPorModulo">
                              
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>#</th>
                                    <th>Familia Módulo</th>
                                    <th>Cant</th>
                                    <th>%</th>
                                  </tr>
                                </ng-template>
                              
                                <ng-template pTemplate="body" let-item let-i="rowIndex">
                                  <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.familiaModulo }}</td>
                                    <td>{{ item.sumaDeCant }}</td>
                                    <td>{{ item.porcentaje | number: '1.2-2' }}%</td>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                      <td></td>
                                      <td><strong>TOTALES</strong></td>
                                      <td><strong>{{ totalCantPorModulo }}</strong></td>
                                      <td></td>
                                    </tr>
                                  </ng-template>
                              </p-table>
                              
                              
                                </div>
                        </div>
            
            
                        <!-- Segunda mitad (Dividida en 2 partes, Sección 2 arriba y Sección 1 abajo) -->
                        <div class="col-md-6 d-flex flex-column">
                            <div class="col-md-12 border" style="height: 14rem;">
                                <div class="table-responsive table-sm" style="height: 14rem; overflow-y: auto;">
                                    <p-table 
                                    [value]="estadisticaDetalle"
                                    styleClass="p-datatable-gridlines"
                                    [tableStyle]="{ 'width': '100%' }"
                                    [scrollable]="true"
                                    selectionMode="single"
                                    dataKey="idCorte">
                                  
                                    <ng-template pTemplate="header">
                                      <tr>
                                        <th>Item</th>
                                        <th>Familia Módulo</th>
                                        <th>A</th>
                                        <th>H</th>
                                        <th>Cant</th>
                                        <th>%</th>
                                      </tr>
                                    </ng-template>
                                  
                                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                                      <tr [pSelectableRow]="item">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.familiaModulo }}</td>
                                        <td>{{ item.ancho }}</td>
                                        <td>{{ item.altura }}</td>
                                        <td>{{ item.sumaDeCant }}</td>
                                        <td>{{ item.porcentaje | number:'1.2-2' }}%</td>
                                      </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                          <td></td>
                                          <td><strong>TOTALES</strong></td>
                                          <td></td>
                                          <td></td>
                                          <td><strong>{{ totalCantPorOT }}</strong></td>
                                          <td></td>
                                        </tr>
                                      </ng-template>
                                      
                                  </p-table>
                                  
                                  
                                    </div>
                            </div>
                            <div class="col-md-12 border" style="height: 14rem;">
                                <h6 class="text-center">Detallado por OT</h6>
                                <div class="table-responsive table-sm" style="height: 14rem; overflow-y: auto;">
                                    <p-table 
  [value]="estadisticaPorOT"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'width': '100%' }"
  [scrollable]="true"
  selectionMode="single"
  dataKey="ot">
  
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>OT</th>
      <th>Cant</th>
      <th>%</th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr [pSelectableRow]="item">
      <td>{{ i + 1 }}</td>
      <td>{{ item.ot }}</td>
      <td>{{ item.sumaDeCant }}</td>
      <td>{{ item.porcentaje | number: '1.2-2' }}%</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td></td>
      <td><strong>TOTALES</strong></td>
      <td><strong>{{ totalCantPorOT }}</strong></td>
      <td></td>
    </tr>
  </ng-template>
  
</p-table>

                                  
                                    </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            </div>
            
            </div>

            <app-reprogramar-proceso 
            [visible]="modalVisibleReprogramar"
            (onClose)="modalVisibleReprogramar = false"> 
          </app-reprogramar-proceso>

          <app-dialog-observaciones
          [visible]="modalVisibleObservaciones"
          (onClose)="modalVisibleObservaciones = false"
        ></app-dialog-observaciones>