<div class="container-fluid mt-3">
  <div class="card shadow-sm border-0 p-3">

    <div class="table-responsive" style="height: 75vh; overflow-y: auto;">
      <p-table 
        [value]="insumosPlano"
        styleClass="p-datatable-gridlines"
        [scrollable]="true"
        selectionMode="single"
        [(selection)]="selectedInsumo"
        dataKey="item">
        
        <ng-template pTemplate="header">
          <tr>
            <th>Item</th>
            <th>Descripción</th>
            <th>Cant CD</th>
            <th>Cant SD</th>
            <th>Und</th>
            <th>V/Und</th>
            <th>SubTotal</th>
            <th>Inv</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-insumo>
          <tr [pSelectableRow]="insumo">
            <td>{{ insumo.item }}</td>
            <td>{{ insumo.descripcion }}</td>
            <td>{{ insumo.cantidadCD | number:'1.0-0' }}</td>
            <td>{{ insumo.cantidadSD }}</td>
            <td>{{ insumo.unidadMedida }}</td>
            <td>{{ insumo.valorUnidad }}</td>
            <td>{{ insumo.subTotal | number:'1.0-2' }}</td>
            <td>{{ insumo.idInventario }}</td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>
