  /* Anderson */

  :host ::ng-deep .p-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center !important;
    background-color: #fff;
    border: none;
    border-bottom: solid 1px #0d0d0d1c;

}

  /* Botones habilitados del toolbar  */
.buttonNav {
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  padding: 0.2rem;
  color: #2da6e7;
  border-radius: 0.2rem;
  height: 2rem;
  width: 2rem;
  border: 1px solid #b2d6ff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

/* Botones habilitados del toolbar hover  */
.buttonNav:hover {
  background: linear-gradient(to bottom, #9ed7f6, #0288D1);
  color: #ffffff;
  border: 1px solid #2da6e7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

/* Botones Deshabilitados */
.buttonNav:disabled {
  background: #d3d3d3 !important;
  color: #8a8a8a !important;
  border: 1px solid #bdbdbd !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
  transform: scale(1) !important;
}


/* Botón rojo */
.btn-rojo {
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  color: #c16464;
  border: 1px solid #f0afaf;
}

.btn-rojo:hover {
  background: linear-gradient(to bottom, #c84444, #c84444);
  color: #fff;
  border: 1px solid #c84444;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

/* Botón Verde */
.btn-verde {
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  color: #41a446;
  border: 1px solid #79dba7;
}

.btn-verde:hover {
  background: linear-gradient(to bottom, #41a446, #41a446);
  color: #fff;
  border: 1px solid #41a446;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

.tituloTabla {
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
  background: radial-gradient(circle, #4a90e2, #1c355e);
  /* Se puede poner color diferente */
  color: white;
  padding: 0.5rem 0;
}


/* Altura inicial de todos los inputs */
.p-inputtext {
  height: 1.9rem;
}


/* Input y Float Label deshabilitados  */

.p-inputtext:disabled {
  background-color: #e0e0e0 !important;
  /* Un gris más notorio */
  color: #0d0d0d !important;
  border-top: 2px solid #a0a0a0 !important;
  /* Borde grueso arriba */
  border-left: 2px solid #a0a0a0 !important;
  /* Borde grueso izquierda */
  border-right: 1px solid #ccc !important;
  /* Borde derecho tenue */
  border-bottom: 1px solid #ccc !important;
  /* Borde inferior tenue */
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra tenue arriba e izquierda */
  opacity: 0.6;
  /* Mayor opacidad para destacar el estado deshabilitado */
}


/* =========================
    📌 DataTable
    ========================= */
    :host ::ng-deep .p-datatable {
      font-size: 12px;
  }
  
  :host ::ng-deep .p-datatable-table th,
  :host ::ng-deep .p-datatable-table td {
      border: 1px solid #d1d5db;
      padding: 4px 6px;
      white-space: nowrap;
  }
  
  :host ::ng-deep .p-datatable-table th {
      background-color: #f3f4f6;
      font-weight: bold;
      font-size: 13px;
      padding: 6px;
  }
  
  :host ::ng-deep .p-datatable-wrapper {
      overflow-y: auto;
      max-height: 400px;
  }