<div class="container-fluid form-control-sm bg-light p-4">
  <form>
    <!-- Fila 1: Búsqueda y selección de pedido -->
    <div class="row mt-4">
      <div class="col-md-2">
        <p-floatLabel>
          <input
            pInputText
            id="Id_OT"
            [(ngModel)]="id_OT"
            [ngModelOptions]="{standalone: true}"
            type="text"
            name="OT"
            class="w-100"
            (keyup.enter)="buscarPedidos()" 
          />
          <label for="Id_OT">OT</label>
        </p-floatLabel>
      </div>

      <div class="col-md-2">
        <p-dropdown
        [options]="pedidos"
        [(ngModel)]="selectedPedido"
        [ngModelOptions]="{standalone: true}"
        optionLabel="consecutivoPedido"
        [filter]="true"
        filterBy="consecutivoPedido"
        [showClear]="true"
        placeholder="Buscar Pedido"
        class="w-100"
        (onChange)="actualizarCampos()">
        
        <!-- ✅ Personalizar cómo se ve el elemento seleccionado -->
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <span>{{ selectedOption.consecutivoPedido }}</span>
            </div>
        </ng-template>
    
        <!-- ✅ Personalizar cómo se ven las opciones en el desplegable -->
        <ng-template let-pedido pTemplate="item">
            <div class="flex align-items-center gap-2">
                <span>{{ pedido.consecutivoPedido }}</span>
            </div>
        </ng-template>
    </p-dropdown>
    
      </div>

      <div class="col-md-2 d-flex align-items-end">
        <div class="d-flex justify-content-between gap-2 w-100">
          <p-button class="custom-btn flex-grow-1" label="..." [rounded]="true" [text]="true" [raised]="true" (onClick)="showDialogProgramacionOT()"></p-button>
          <p-button class="custom-btn flex-grow-1" [rounded]="true" [text]="true" [raised]="true" (onClick)="showDialog()">
            <i class="bi bi-binoculars-fill"></i>
          </p-button>
          <p-button class="custom-btn flex-grow-1" [rounded]="true" [text]="true" [raised]="true">
            <i class="bi bi-exclamation-triangle-fill"></i>
          </p-button>
        </div>
      </div>
      
      

      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="t_ped" [(ngModel)]="formData.t_ped" name="t_pedName" class="w-100" [disabled]="isDisabled">
          <label for="t_ped">T.Ped</label>
        </p-floatLabel>
      </div>

      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="asesor" [(ngModel)]="formData.asesor" name="asesor" class="w-100" [disabled]="isDisabled" />
          <label for="asesor">Asesor</label>
        </p-floatLabel>
      </div>
    
      <div class="col-md-1 d-flex justify-content-center">
        <p-button 
          class="custom-btn btn-danger w-100 text-center"
          label="TERMINAR"
          [rounded]="true"
          [raised]="true"
        ></p-button>
      </div>
    </div>

    <!-- Fila 2: Información del cliente -->
    <div class="row mt-4">
      <div class="col-md-6">
        <p-floatLabel>
          <input pInputText id="cliente" [(ngModel)]="formData.cliente" name="cliente" class="w-100" [disabled]="isDisabled"/>
          <label for="cliente">Cliente</label>
        </p-floatLabel>
      </div>
      <div class="col-md-6">
        <p-floatLabel>
          <input pInputText id="obra" [(ngModel)]="formData.obra" name="obra" class="w-100" [disabled]="isDisabled"/>
          <label for="obra">Obra</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 3: Datos de ubicación -->
    <div class="row mt-4">
      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="direccion" [(ngModel)]="formData.direccion" name="Direccion" class="w-100" [disabled]="isDisabled"/>
          <label for="direccion">Dirección</label>
        </p-floatLabel>
      </div>
      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="departamento" [(ngModel)]="formData.departamento"  name="departamento" class="w-100" [disabled]="isDisabled"/>
          <label for="departamento">Departamento</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="pais" [(ngModel)]="formData.pais" name="pais" class="w-100" [disabled]="isDisabled"/>
          <label for="pais">País</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="ciudad" [(ngModel)]="formData.ciudad" name="ciudad" class="w-100" [disabled]="isDisabled"/>
          <label for="ciudad">Ciudad</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="telefono" [(ngModel)]="formData.telefono" name="telefono" class="w-100" [disabled]="isDisabled"/>
          <label for="telefono">Teléfono</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 4: Contacto -->
    <div class="row mt-4">
      <div class="col-md-5">
        <p-floatLabel>
          <input pInputText id="contacto" [(ngModel)]="formData.Contacto" name="contacto" class="w-100" [disabled]="isDisabled"/>
          <label for="contacto">Contacto</label>
        </p-floatLabel>
      </div>
      <div class="col-md-5">
        <p-floatLabel>
          <input pInputText id="mail" [(ngModel)]="formData.Mail" name="mail" class="w-100" [disabled]="isDisabled"/>
          <label for="mail">Correo Electrónico</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="plano" [(ngModel)]="formData.Plano" name="plano" class="w-100" [disabled]="isDisabled"/>
          <label for="plano">Plano</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 5: Información adicional -->
    <div class="row mt-4">
      <div class="col-md-5">
        <div class="card p-3">
          <p-floatLabel class="exclude-resize">
            <textarea id="infoOT" rows="22" [(ngModel)]="formData.Observacion" 
                      name="observacion" pInputTextarea class="form-control form-control-sm" readonly>
            </textarea>
            <label for="infoOT">Información General OT</label>
          </p-floatLabel>
          
        </div>
      </div>
      <div class="col-md-7">
        <div class="row mt-4">
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username1" [(ngModel)]="formData.venta" name="venta" class="full-width" [disabled]="isDisabled"/>
                <label for="username1">Venta</label>
              </p-floatLabel>      
            </div>
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username2" [(ngModel)]="formData.okventa" name="okventa" class="full-width" [disabled]="isDisabled"/>
                <label for="username2">Ok.Venta</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
                <p-floatLabel>
                  <input pInputText id="username2" [(ngModel)]="formData.okdibujo" name="okdibujo" class="full-width" [disabled]="isDisabled"/>
                  <label for="username2">Ok.Dobujo</label>
                </p-floatLabel>
              </div>
              <div class="col-md-3">
          <p-floatLabel>
            <input pInputText id="username2" [(ngModel)]="formData.okdespacho" name="okdespacho" class="full-width" [disabled]="isDisabled"/>
            <label for="username2">OK Despacho</label>
          </p-floatLabel>
          
                </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username1" [(ngModel)]="formData.okempaquevta" name="okempaquevta" class="full-width" [disabled]="isDisabled"/>
                <label for="username1">Empaque Vta</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username2" [(ngModel)]="formData.empaqueprod" name="empaqueprod" class="full-width" [disabled]="isDisabled"/>
                <label for="username2">Empaque Prod</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
                <p-floatLabel>
                  <input pInputText id="username2" [(ngModel)]="formData.prueba" name="Pedido" class="full-width" [disabled]="isDisabled"/>
                  <label for="username2">Ok.Dobujo</label>
                </p-floatLabel>
              </div>
              <div class="col-md-3">
          <p-floatLabel>
            <input pInputText id="username2" [(ngModel)]="formData.prueba1" name="Pedido" class="full-width" [disabled]="isDisabled"/>
            <label for="username2">OK Instala</label>
        </p-floatLabel>
        </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <h6 class="text-center m-0">Despacho</h6>
                </div>
                <div class="car-body">
                    <div class="table-responsive table-sm mb-3 rounded" style="height: 10vh; padding-top:0rem; margin-top:0rem; overflow-y: auto;">
                      <p-table 
                      [value]="fechaDespacho"
                      styleClass="p-datatable p-datatable-gridlines" 
                      [tableStyle]="{ 'width': '100%' }"
                      [scrollable]="true"
                      selectionMode="single"
                      dataKey="descripcionProceso">
                      
                        <ng-template pTemplate="header">
                          <tr>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Coor</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Coordinado el</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Despacho</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Despachado</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Real despacho</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Entregado</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Ok. Entrega</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Receptor</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Celular</th>
                          </tr>
                        </ng-template>
                      
                        <ng-template pTemplate="body" let-modulo>
                          <tr [pSelectableRow]="modulo">
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.despachoCoordinado ? 'Sí' : 'No' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaDespachoCoordinado | date:'yyyy-MM-dd HH:mm' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaDespacho | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminadodespacho ? 'Sí' : 'No'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaRealDespacho | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.entregadoTransporte ? 'Sí' : 'No'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaEntregado | date:'yyyy-MM-dd HH:mm' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.receptor }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.celularReceptor }}</td>
                          </tr>
                        </ng-template>
                      
                      </p-table>
                        </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p-floatLabel>
                            <input pInputText id="username2" [(ngModel)]="formData.prueba2" name="Pedido" class="full-width" [disabled]="isDisabled"/>
                            <label for="username2">OK. Fact</label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p-floatLabel>
                            <input pInputText id="username2" [(ngModel)]="formData.prueba3" name="Pedido" class="full-width" [disabled]="isDisabled"/>
                            <label for="username2">Ver Cot</label>
                        </p-floatLabel>
                    </div>
                </div>
         </div>
  </div>

  <div class="row mt-4">
    <div class="card">
    <div class="card-header">
      <h6 class="text-center m-0">Programacion Orden de trabajo</h6>
    </div>
    <div class="car-body">
        <div class="table-responsive table-sm mb-3 rounded" style="height: 17vh; padding-top:0rem; margin-top:0rem; overflow-y: auto;">
            <p-table 
            [value]="programacionObra"
            styleClass="p-datatable p-datatable-gridlines" 
            [tableStyle]="{ 'width': '100%' }"
            [scrollable]="true"
            selectionMode="single"
            dataKey="descripcionProceso">
          
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Proceso</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Procesar</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F.F.Proceso</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Responsable</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Liquidado</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Programado</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Imp</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Fecha Imp</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Por</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Fecha OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Por</th>
              </tr>
            </ng-template>
          
            <ng-template pTemplate="body" let-modulo>
              <tr [pSelectableRow]="modulo">
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.descripcionProceso }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.procesar }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaFinalProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminada ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.nombreCompletoResponsable }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.liquidado }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaProgramacionProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.impresa ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaImpresionReporte ? (modulo.fechaImpresionReporte | date:'yyyy-MM-dd HH:mm') : '-' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.impresaPor || '-' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminada ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaRealFinalProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminadaPor || '-' }}</td>
              </tr>
            </ng-template>
          
          </p-table>
            </div>
    </div>
  </div>
</div>
    </div>
  </div>
    
  </form>
</div>

<app-dialog-observaciones
  [visible]="modalVisible" 
  (onClose)="hideDialog()">
</app-dialog-observaciones>
  

<app-modal-programacion-ot 
  [visible]="modalVisibleProgramacion"
  (seleccionOTPedido)="cargarOTyPedido($event)"
  (onClose)="modalVisibleProgramacion = false">
</app-modal-programacion-ot>


