<div class="container-fluid form-control-sm bg-light p-4">
  <form [formGroup]="formOT">
    <!-- Fila 1: Búsqueda y selección de pedido -->
    <div class="row">
      <div class="col-md-2">
        <p-floatLabel>
          <input
            pInputText
            type="text"
            name="OT"
            class="w-100"
            formControlName="OT"
            (keyup.enter)="buscarPedidos()" 
          />
          <label for="Id_OT">OT</label>
        </p-floatLabel>
      </div>

      <div class="col-md-2">
        <p-dropdown
        [options]="pedidos"
        formControlName="selectedPedido"
        optionLabel="consecutivoPedido"
        [filter]="true"
        filterBy="consecutivoPedido"
        [showClear]="true"
        placeholder="Buscar Pedido"
        class="w-100"
        (onChange)="actualizarCampos()">
        
        <!-- ✅ Personalizar cómo se ve el elemento seleccionado -->
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <span>{{ selectedOption.consecutivoPedido }}</span>
            </div>
        </ng-template>
    
        <!-- ✅ Personalizar cómo se ven las opciones en el desplegable -->
        <ng-template let-pedido pTemplate="item">
            <div class="flex align-items-center gap-2">
                <span>{{ pedido.consecutivoPedido }}</span>
            </div>
        </ng-template>
    </p-dropdown>
    
      </div>

      <div class="col-md-2 d-flex align-items-end">
        <div class="d-flex justify-content-between gap-2 w-100">
          <p-button class="btn-icono" 
          label="..." 
          [rounded]="true" 
          [text]="true" 
          [raised]="true" 
          (onClick)="showDialogProgramacionOT()">
</p-button>

<p-button class="btn-icono" 
          [rounded]="true" 
          [text]="true" 
          [raised]="true" 
          (onClick)="showDialog()">
  <i class="bi bi-binoculars-fill"></i>
</p-button>

<p-button class="btn-alerta" 
          [rounded]="true" 
          [text]="true" 
          [raised]="true">
  <i class="bi bi-exclamation-triangle-fill"></i>
</p-button>



        </div>
      </div>
      
      

      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="t_ped" class="w-100" formControlName="t_ped">
          <label for="t_ped">T.Ped</label>
        </p-floatLabel>
      </div>

      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="asesor"  name="asesor" class="w-100" formControlName="asesor"/>
          <label for="asesor">Asesor</label>
        </p-floatLabel>
      </div>
    
      <div class="col-md-1 d-flex justify-content-center">
        <p-button 
          class="custom-btn btn-danger w-100 text-center"
          label="TERMINAR"
          [rounded]="true"
          [raised]="true"
        ></p-button>
      </div>
    </div>

    <!-- Fila 2: Información del cliente -->
    <div class="row mt-4">
      <div class="col-md-6">
        <p-floatLabel>
          <input pInputText id="cliente"  name="cliente" class="w-100" formControlName="cliente"/>
          <label for="cliente">Cliente</label>
        </p-floatLabel>
      </div>
      <div class="col-md-6">
        <p-floatLabel>
          <input pInputText id="obra"  name="obra" class="w-100"formControlName="obra"/>
          <label for="obra">Obra</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 3: Datos de ubicación -->
    <div class="row mt-4">
      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="direccion"  name="Direccion" class="w-100" formControlName="direccion"/>
          <label for="direccion">Dirección</label>
        </p-floatLabel>
      </div>
      <div class="col-md-3">
        <p-floatLabel>
          <input pInputText id="departamento"   name="departamento" class="w-100" formControlName="departamento"/>
          <label for="departamento">Departamento</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="pais"  name="pais" class="w-100" formControlName="pais"/>
          <label for="pais">País</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="ciudad" name="ciudad" class="w-100" formControlName="ciudad"/>
          <label for="ciudad">Ciudad</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="telefono"  name="telefono" class="w-100" formControlName="telefono"/>
          <label for="telefono">Teléfono</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 4: Contacto -->
    <div class="row mt-4">
      <div class="col-md-5">
        <p-floatLabel>
          <input pInputText id="contacto"  name="contacto" class="w-100" formControlName="contacto"/>
          <label for="contacto">Contacto</label>
        </p-floatLabel>
      </div>
      <div class="col-md-5">
        <p-floatLabel>
          <input pInputText id="mail"  name="mail" class="w-100" formControlName="mail"/>
          <label for="mail">Correo Electrónico</label>
        </p-floatLabel>
      </div>
      <div class="col-md-2">
        <p-floatLabel>
          <input pInputText id="plano"  name="plano" class="w-100" formControlName="plano"/>
          <label for="plano">Plano</label>
        </p-floatLabel>
      </div>
    </div>

    <!-- Fila 5: Información adicional -->
    <div class="row mt-4">
      <div class="col-md-5">
        <div class="card p-3">
          <p-floatLabel class="exclude-resize">
            <textarea id="Observacion" rows="23"  
                      name="observacion" pInputTextarea class="form-control form-control-sm" formControlName="observacion_Pedido" readonly>
            </textarea>
            <label for="infoOT">Información General OT</label>
          </p-floatLabel>
          
        </div>
      </div>
      <div class="col-md-7">
        <h6 class="text-center">POR</h6>
        <div class="row mt-4">
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username1"  name="venta" class="full-width" formControlName="venta"/>
                <label for="username1">Venta</label>
              </p-floatLabel>      
            </div>
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username2" name="okventa" class="full-width" formControlName="okventa"/>
                <label for="username2">Ok.Venta</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
                <p-floatLabel>
                  <input pInputText id="username2" name="okdibujo" class="full-width" formControlName="okdibujo"/>
                  <label for="username2">Ok.Dobujo</label>
                </p-floatLabel>
              </div>
              <div class="col-md-3">
          <p-floatLabel>
            <input pInputText id="username2"  name="okdespacho" class="full-width" formControlName="okdespacho"/>
            <label for="username2">OK Despacho</label>
          </p-floatLabel>
          
                </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username1"  name="okempaquevta" class="full-width" formControlName="okempaquevta"/>
                <label for="username1">Empaque Vta</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
              <p-floatLabel>
                <input pInputText id="username2"  name="empaqueprod" class="full-width" formControlName="empaqueprod"/>
                <label for="username2">Empaque Prod</label>
              </p-floatLabel>
            </div>
            <div class="col-md-3">
                <p-floatLabel>
                  <input pInputText id="username2"  name="okempaque" class="full-width" formControlName="okempaque"/>
                  <label for="username2">Ok.Empaque</label>
                </p-floatLabel>
              </div>
              <div class="col-md-3">
          <p-floatLabel>
            <input pInputText id="username2"  name="okinstala" class="full-width" formControlName="okinstala"/>
            <label for="username2">OK Instala</label>
        </p-floatLabel>
        </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <h6 class="text-center m-0">Despacho</h6>
                </div>
                <div class="car-body">
                    <div class="table-responsive table-sm mb-3 rounded" style="height: 10vh; padding-top:0rem; margin-top:0rem; overflow-y: auto;">
                      <p-table 
                      [value]="fechaDespacho"
                      styleClass="p-datatable p-datatable-gridlines" 
                      [tableStyle]="{ 'width': '100%' }"
                      [scrollable]="true"
                      selectionMode="single"
                      dataKey="descripcionProceso">
                      
                        <ng-template pTemplate="header">
                          <tr>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Coor</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Coordinado el</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Despacho</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Despachado</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Real despacho</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Entregado</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F. Ok. Entrega</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Receptor</th>
                            <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Celular</th>
                          </tr>
                        </ng-template>
                      
                        <ng-template pTemplate="body" let-modulo>
                          <tr [pSelectableRow]="modulo">
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.despachoCoordinado ? 'Sí' : 'No' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaDespachoCoordinado | date:'yyyy-MM-dd HH:mm' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaDespacho | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminadodespacho ? 'Sí' : 'No'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaRealDespacho | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.entregadoTransporte ? 'Sí' : 'No'}}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaEntregado | date:'yyyy-MM-dd HH:mm' }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.receptor }}</td>
                            <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.celularReceptor }}</td>
                          </tr>
                        </ng-template>
                      
                      </p-table>
                        </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p-floatLabel>
                            <input pInputText id="username2"  name="Pedido" class="full-width" formControlName="okfacturacion2"/>
                            <label for="username2">OK. Fact</label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p-floatLabel>
                            <input pInputText id="username2"  name="Pedido" class="full-width" formControlName="okcotizacion"/>
                            <label for="username2">Ver Cot</label>
                        </p-floatLabel>
                    </div>
                </div>
         </div>
  </div>

  <div class="row mt-4">
    <div class="card">
    <div class="card-header">
      <h6 class="text-center m-0">Programacion Orden de trabajo</h6>
    </div>
    <div class="car-body">
        <div class="table-responsive table-sm mb-3 rounded" style="height: 17vh; padding-top:0rem; margin-top:0rem; overflow-y: auto;">
            <p-table 
            [value]="programacionObra"
            styleClass="p-datatable p-datatable-gridlines" 
            [tableStyle]="{ 'width': '100%' }"
            [scrollable]="true"
            selectionMode="single"
            dataKey="descripcionProceso">
          
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Proceso</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Procesar</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">F.F.Proceso</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Responsable</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Liquidado</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Programado</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Imp</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Fecha Imp</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Por</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Fecha OK</th>
                <th pResizableColumn  style="white-space: nowrap; padding: 0.3rem;">Por</th>
              </tr>
            </ng-template>
          
            <ng-template pTemplate="body" let-modulo>
              <tr [pSelectableRow]="modulo">
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.descripcionProceso }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.procesar }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaFinalProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminada ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.nombreCompletoResponsable }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.liquidado }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaProgramacionProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.impresa ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaImpresionReporte ? (modulo.fechaImpresionReporte | date:'yyyy-MM-dd HH:mm') : '-' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.impresaPor || '-' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminada ? 'Sí' : 'No' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.fechaRealFinalProceso | date:'yyyy-MM-dd HH:mm' }}</td>
                <td style="white-space: nowrap; padding: 0.2rem;">{{ modulo.terminadaPor || '-' }}</td>
              </tr>
            </ng-template>
          
          </p-table>
            </div>
    </div>
  </div>
</div>
    </div>
  </div>
    
  </form>
</div>

<app-dialog-observaciones
  [visible]="modalVisible" 
  (onClose)="hideDialog()">
</app-dialog-observaciones>
  

<app-modal-programacion-ot 
  [visible]="modalVisibleProgramacion"
  (seleccionOTPedido)="cargarOTyPedido($event)"
  (onClose)="modalVisibleProgramacion = false">
</app-modal-programacion-ot>


