/**/

.table-responsive {
  border: 1px solid #151515;
  border-radius: 0.5rem;
  background-color: #ffffff;
  overflow-y: auto;
}

h6 {
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
  background: radial-gradient(circle, #4a90e2, #1c355e); /* Se puede poner color diferente */
  color: white;
  padding: 0.5rem 0;
}

p-table {
  font-size: 0.9rem;
}

p-table table {
  width: 100%;
  border-collapse: collapse;
}

p-table th {
  text-align: left;
  background: radial-gradient(circle, #2d6387 30%, #1b4e74 70%);
  color: #fffdfd;
  font-weight: 600;
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
}


.custom-tooltip {
  max-width: 300px; /* Ancho máximo */
  white-space: pre-wrap; /* Permitir saltos de línea */
  overflow: hidden; /* Ocultar el desbordamiento si es necesario */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos para texto largo */
  word-wrap: break-word; /* Romper las palabras largas */
}


p-table {
  border-radius: 0.5rem; /* Bordes redondeados */
  overflow: hidden; /* Evita que los bordes redondeados se vean cortados */
  background-color: #ffffff; /* Fondo blanco */
}

p-table table {
  border-collapse: separate;
  border-spacing: 0; /* Elimina espacios entre celdas */
  width: 100%;
}

p-table th,
p-table td {
  border: 1px solid #ddd; /* Bordes de las celdas */
  padding: 0.5rem;
}

p-table th {
  background: radial-gradient(circle, #2d6387 30%, #1b4e74 70%);
  color: #fffdfd;
  font-weight: 600;
}

