:host ::ng-deep .p-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center !important;
    background-color: #fff;
    border: none;
    border-bottom: solid 1px #0d0d0d1c;

}

/* Botones habilitados del toolbar  */
.buttonNav {
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
    padding: 0.2rem;
    color: #2da6e7;
    border-radius: 0.2rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid #b2d6ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

/* Botones habilitados del toolbar hover  */
 .buttonNav:hover {
    background: linear-gradient(to bottom, #9ed7f6, #0288D1);
    color: #ffffff;
    border: 1px solid #2da6e7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

/* Botones Deshabilitados */
 .buttonNav:disabled {
    background: #d3d3d3 !important;
    color: #8a8a8a !important;
    border: 1px solid #bdbdbd !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
    transform: scale(1) !important;
}


/* Botón rojo */
.btn-rojo {
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
    color: #c16464;
    border: 1px solid #f0afaf;
}

.btn-rojo:hover {
    background: linear-gradient(to bottom, #c84444, #c84444);
    color: #fff;
    border: 1px solid #c84444;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

/* Botón Verde */
 .btn-verde {
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
    color: #41a446;
    border: 1px solid #79dba7;
}

 .btn-verde:hover {
    background: linear-gradient(to bottom, #41a446, #41a446);
    color: #fff;
    border: 1px solid #41a446;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

/* Altura inicial de todos los inputs */
.p-inputtext {
    height: 1.9rem;
}


/* Input y Float Label deshabilitados  */

.p-inputtext:disabled {
    background-color: #e0e0e0 !important;
    /* Un gris más notorio */
    color: #0d0d0d !important;
    border-top: 2px solid #a0a0a0 !important;
    /* Borde grueso arriba */
    border-left: 2px solid #a0a0a0 !important;
    /* Borde grueso izquierda */
    border-right: 1px solid #ccc !important;
    /* Borde derecho tenue */
    border-bottom: 1px solid #ccc !important;
    /* Borde inferior tenue */
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra tenue arriba e izquierda */
    opacity: 0.6;
    /* Mayor opacidad para destacar el estado deshabilitado */
}


:host ::ng-deep .p-inputnumber input:disabled {
    background-color: #e0e0e0 !important;
    color: #0d0d0d !important;
    border-top: 2px solid #a0a0a0 !important;
    border-left: 2px solid #a0a0a0 !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
    text-align: right;
}


.p-calendar {
    height: 1.7rem;
}

/* Campos tipo fecha deshabilitado  */
:host ::ng-deep .p-calendar .p-inputtext[disabled] {
    background-color: #e0e0e0 !important;
    /* Un gris más notorio */
    color: #0d0d0d !important;
    border-top: 2px solid #a0a0a0 !important;
    /* Borde grueso arriba */
    border-left: 2px solid #a0a0a0 !important;
    /* Borde grueso izquierda */
    border-right: 1px solid #ccc !important;
    /* Borde derecho tenue */
    border-bottom: 1px solid #ccc !important;
    /* Borde inferior tenue */
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra tenue arriba e izquierda */
    opacity: 0.6;
    /* Mayor opacidad para destacar el estado deshabilitado */
    height: 2rem;
}


/* =========================
 Dropdown
========================= */

:host ::ng-deep p-dropdown {
    font-size: 0.4rem;
    width: 150px;
    height: 1.8rem;
}

:host ::ng-deep p-dropdown .p-dropdown-label {
    height: 1.8rem;
    display: flex;
    align-items: center;
}

:host ::ng-deep .p-dropdown-item {
    padding-left: 0.2rem !important;
    /* Reduce el espacio de las opciones */
}

/* Checkbox deshabilitado */
:host ::ng-deep p-checkbox .p-checkbox-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Espaciado entre checkbox y label */
:host ::ng-deep .p-checkbox {
    margin-right: 5px;
}

/* =========================
    📌 DataTable
    ========================= */
:host ::ng-deep .p-datatable {
    font-size: 12px;
}

:host ::ng-deep .p-datatable-table th,
:host ::ng-deep .p-datatable-table td {
    border: 1px solid #d1d5db;
    padding: 4px 6px;
    white-space: nowrap;
}

:host ::ng-deep .p-datatable-table th {
    background-color: #f3f4f6;
    font-weight: bold;
    font-size: 13px;
    padding: 6px;
}

:host ::ng-deep .p-datatable-wrapper {
    overflow-y: auto;
    max-height: 400px;
}

.tituloTabla {
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    background: radial-gradient(circle, #4a90e2, #1c355e);
    /* Se puede poner color diferente */
    color: white;
    padding: 0.5rem 0;
}

.botonOK {
    background-color: red !important;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonOK:hover {
    background-color: darkred !important;
}

.botonOK:disabled {
    background-color: #c0c0c0 !important; /* gris claro */
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}

.alerta-ot-cerrada {
    position: fixed;
    left: 50%;
    height: 5rem;
    width: 25rem;
    transform: translateX(-50%);
    background-color: #f8d7da; /* rojo claro tipo danger soft */
    color: #721c24; /* texto rojo oscuro */
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.95rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #f5c6cb;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: top 0.4s ease, bottom 0.4s ease, transform 0.3s, opacity 0.3s;
    opacity: 0.95;
  }
  
  .alerta-ot-cerrada.arriba {
    top: 10rem; /* más abajo del borde superior */
    bottom: auto;
  }
  
  .alerta-ot-cerrada.abajo {
    bottom: 20px;
    top: auto;
  }
  
  .alerta-ot-cerrada i {
    font-size: 1.2rem;
  }

  .alerta-ot-cerrada {
    opacity: 0;
    animation: fadeIn 0.6s ease forwards;
  }
  
  @keyframes fadeIn {
    to { opacity: 1; }
  }
  
  
  


/* =========================
    Responsive
   ========================= */
@media (max-width: 768px) {
    :host ::ng-deep p-floatLabel input {
        font-size: 10px;
        height: 25px;
    }



}