.full-width {
    width: 100%; /* Asegura que ocupe el 100% del ancho de la columna */
  }
  
  ::ng-deep .p-button {
    color: black !important;
}

.p-inputtext:disabled {
  background-color: #e0e0e0 !important; /* Un gris más notorio */
  color: #0d0d0d !important; 
  border-top: 2px solid #a0a0a0 !important; /* Borde grueso arriba */
  border-left: 2px solid #a0a0a0 !important; /* Borde grueso izquierda */
  border-right: 1px solid #ccc !important; /* Borde derecho tenue */
  border-bottom: 1px solid #ccc !important; /* Borde inferior tenue */
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra tenue arriba e izquierda */
  opacity: 0.6; /* Mayor opacidad para destacar el estado deshabilitado */
}

:host ::ng-deep .p-datatable-table th, 
:host ::ng-deep .p-datatable-table td {
  border: 1px solid #d1d5db; /* Color gris */
  padding: 8px;
}

p-table {
  font-size: 0.9rem;

}

p-table table {
  width: 100%;
  border-collapse: collapse;
}

p-table th {
  text-align: left;
  background-color: #49556a;
  color: #fafafa;
  font-weight: 600;
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
}


p-table td:nth-child(even) {
  background-color: #f9fafb;
}

:host ::ng-deep .p-datatable-table td {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host ::ng-deep .p-datatable-table img {
  max-height: 30px;
}

