/* Sidebar Moderno */
.modern-sidebar {
  width: 220px !important; /* Reducir el ancho */
  background: #f8f9fa;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px; /* Bordes más sutiles */
}

/* Encabezado del Sidebar */
.sidebar-header {
  background: #e9ecef;
  border-bottom: 1px solid #dee2e6;
  padding: 4px 6px; /* Espaciado más compacto */
  font-size: 14px; /* Reducir tamaño de texto */
}

/* Opciones del Sidebar */
.option-item button {
  text-decoration: none;
  padding: 8px 12px; /* Espaciado más pequeño */
  font-size: 14px; /* Reducir tamaño del texto */
  color: #333;
  width: 100%;
  transition: background 0.3s ease;
  border-radius: 4px;
}

.option-item button:hover {
  background: radial-gradient(circle, #195c88 30%, #083557 70%);
  color: white;
}

/* Iconos en las opciones del Sidebar */
.option-item i {
  margin-right: 8px; /* Espaciado más compacto */
  font-size: 14px; /* Ajustar tamaño de icono */
}

/* Navbar Moderno */
.modern-navbar {
  background: radial-gradient(circle, #195c88 30%, #083557 70%);
  padding: 8px 16px; /* Espaciado más compacto */
  display: flex;
  align-items: center;
  height: 3rem; /* Reducir altura */
  border-radius: 8px;
  font-size: 14px;
}

/* Contenedor del contenido dinámico */
.content-container {
  padding: 16px; /* Reducir padding para un diseño más limpio */
  font-size: 14px;
}
